.dataformContainer {
    margin: 10px;
    padding: 10px;
    display: flex;
justify-content: center;
    form {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;

        .formInput {

            select {
                background-color: transparent;
                color: gray;
                option {
                    
                    width: 40px;
                }
            }

            input {
                color: gray;
                width: 50px;
            }
            .cursoInput{
                width: 150px;
            }
            button{
                width: 200px;
                padding: 10px;
                border: none;
                background-color: teal;
                color: white;
                font-weight: bold;
                cursor: pointer; 
             
            }
        }
    }

}